{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
    <section>
        <h2>Contáctanos</h2>
        <form method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="correo">Correo Electrónico:</label>
            <input type="email" id="correo" name="correo" required>
            
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
            
            <button type="submit">Enviar</button>
        </form>

        <h3>Nuestra ubicación</h3>
        <p>Dirección: Calle Falsa 123, Ciudad Ficticia</p>
        <p>Teléfono: +123 456 7890</p>
        <p>Email: <a href="contacto@miempresa.com">contacto@miempresa.com</a></p>
        
        <!-- Aquí añadimos el mapa embebido de Google Maps -->
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799148508!2d-74.25986513862018!3d40.69767006475053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDBCsDQyJzEwLjIiTiA3NMKwMTUnMzAuMyJX!5e0!3m2!1ses-419!2sus!4v1644235909538!5m2!1ses-419!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
{% endblock %}
